@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = (await UserManager.GetUserAsync(User));

    <nav>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Blogs/Index" method="post">
            <span>@user.UserName</span>
            <button class="log-btn">Log out</button>
        </form>
    </nav>
}
else
{
    <nav>
        <span><a class="log-btn" asp-area="Identity" asp-page="/Account/Login">Log in</a></span>
        <span><a class="log-btn" asp-area="Identity" asp-page="/Account/Register">Register</a></span>
    </nav>
}