@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav>
    
    <a asp-page="/Blogs/Index" class="home-link"><img src="/images/logo.svg" alt="logo"></a>
    @if (SignInManager.IsSignedIn(User))
    {
    var user = (await UserManager.GetUserAsync(User));

        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Blogs/Index" method="post">
            <span>@user.UserName</span>
            @if (User.IsInRole(Roles.AdminRole))
            {
                <span><a asp-page="/Admin/Admin"  class="nav-btn">Users</a></span>
            }
            <span><a class="primary-btn" asp-page="/Blogs/Create">Write</a></span>
            <span><input type="submit" class="nav-btn last-child" value="Log out"/></span>
        </form>
    }
    else
    {
        <span><a class="secondary-btn" asp-area="Identity" asp-page="/Account/Login">Log in</a></span>
        <span><a class="last-child primary-btn" asp-area="Identity" asp-page="/Account/Register">Sign up</a></span>
    }
</nav>
