@using Microsoft.AspNetCore.Identity
@using BlogApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav>
    <img src="/images/logo.svg" alt="logo">
    <a asp-page="/Blogs/Index" class="home-link">Home</a>
    
    @if (SignInManager.IsSignedIn(User))
    {
        var user = (await UserManager.GetUserAsync(User));
        <form asp-area="Identity" 
        asp-page="/Account/Logout" 
        asp-route-returnUrl="/Blogs/Index"    
        method="post">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="/User/Index" asp-route-username="@User.Identity.Name">My Profile</a>
            }

            @if (User.IsInRole(Roles.AdminRole))
            {
                <a asp-page="/Admin/Admin" >Users</a>
            }
            <a  asp-page="/Blogs/Create">Write</a>
            <div class="authentication-links">
                <p>@user.UserName</p>
                <p class="middle-bar"></p>
                <input type="submit" class="secondary-btn log-btn" value="Log Out"/>
            </div>

        </form>
    }
    else
    {
        <div class="authentication-links">
            <a class="secondary-btn log-btn" 
                asp-area="Identity" 
                asp-page="/Account/Login">Log In</a>
            <p class="middle-bar"></p>
            <a class="log-btn primary-btn" 
                asp-area="Identity" 
                asp-page="/Account/Register">Sign Up</a>
        </div>
    }
</nav>
