@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = (await UserManager.GetUserAsync(User));

    <nav>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Blogs/Index" method="post">
            <span>Welcome back, @user.UserName</span>
            <span><a asp-page="./Index" class="nav-btn">Home</a></span>
            <button class="nav-btn">Log out</button>
        </form>
    </nav>
}
else
{
    <nav>
        <span><a asp-page="./Index" class="nav-btn">Home</a></span>
        <span><a class="nav-btn" asp-area="Identity" asp-page="/Account/Login">Log in</a></span>
        <span><a class="nav-btn" asp-area="Identity" asp-page="/Account/Register">Sign up</a></span>
    </nav>
}