@import "../base.scss";

:root {
  font-size: 20px;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  width: 50%;
  margin-inline: auto;
  margin-top: 5rem;

  form {
    margin-left: auto;
    
    @media screen and (max-width: $small-screen-width) {
      margin: auto;
    }
  }

  h2 {
    align-self: flex-start;
  }

  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
  }

  @media screen and (max-width: $small-screen-width) {
    width: 90%;
  }

  .user-card {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    width: 100%;

    .button {
      color: white;
      font-weight: 700;
      border-radius: 5px;
      border: none;
      padding: 1rem;
      min-width: 10rem;

      &:hover {
        filter: brightness(0.6);
        cursor: pointer;
      }

      @media screen and (max-width: $small-screen-width) {
        padding-block: 1rem;
      }
    }

    .assign-role {
      background-color: green;
    }

    .remove-role {
      background-color: red;
    }

    .details-btn {
      padding: 1rem;
      color: blue;
      font-weight: 700;
    }

    @media screen and (max-width: $small-screen-width) {
      width: 90%;
      flex-direction: column;
      align-items: center;
    }
  }
}
