@import "../base.scss";

.info-text {
  font-size: 0.6rem;

  &:hover {
    cursor: pointer;
    transition: 100ms ease-out;
  }
}

.content-info {
  margin-bottom: 0;
  overflow: hidden;
}

.search-form {
  margin: 0 0 1rem 10rem;
  width: 50%;

  @media screen and (max-width: $medium-screen-width) {
    width: 70%;
    margin-inline: auto;
  }

  @media screen and (max-width: $small-screen-width) {
    width: 90%;
  }

  input[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    font-size: 0.7rem;
    @extend .primary-button;

    @media screen and (max-width: $small-screen-width) {
      width: 20%;

      // bring the button to the bottom right since there is no space next to the input field
      margin-block: 0.5rem;
      margin-left: auto;
      display: block;
    }
  }

  input[type="text"] {
    padding: 0.6rem;
    font-size: 0.7rem;
    border-radius: 2px;
    border: 1px solid $primary-purple;
    width: 70%;

    @media screen and (max-width: $small-screen-width) {
      width: 96%;
    }
  }
}

.thread-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;

  @media screen and (max-width: $small-screen-width) {
    grid-template-columns: 90%;
    width: 96%;
  }

  .thread {
    @extend .clickable-card;

    margin: 0.5rem;
    height: 12rem;
    display: flex;
    background: white;
    text-decoration: none;
    color: black;

    @media screen and (max-width: $medium-screen-width) {
      width: 90%;
    }

    @media screen and (max-width: $small-screen-width) {
      height: auto;
      width: 100%;
      flex-direction: column;
    }

    img {
      width: 40%;
      border-radius: 5px 0 0 5px;
      object-fit: cover;

      @media screen and (max-width: $small-screen-width) {
        width: 100%;
        height: 60%;
      }
    }

    .thread-info {
      padding: 1rem;
      display: flex;
      align-content: flex-start;
      flex-direction: column;
      width: 60%;
      margin-left: 1rem;

      @media screen and (max-width: $small-screen-width) {
        padding: 0.2rem;
        display: flex;
        align-content: flex-start;
        flex-direction: column;
        width: 90%;
        margin-bottom: 1rem;
      }

      .info {
        @extend .info-text;
        font-weight: 600;
        color: #2a2aa5;
      }

      .title {
        @extend .content-info;
        font-family: Garamond, serif;
        height: 30%;
        font-weight: 800;
        font-size: 1rem;
      }

      .description {
        @extend .content-info;
        font-size: 0.6rem;
        color: #606060;
      }
    }
  }
}

.today {
  margin-inline: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Times New Roman', serif;
  width: fit-content;

  @media screen and (max-width: $medium-screen-width) {
    margin-inline: auto;
    font-size: 1.5rem;
  }
}
