@page
@model RazorBlog.Pages.Error.BadRequestModel

@{
    ViewData["Title"] = "Bad Request";
    ViewData["CSSLink"] = "/css/error/error.css";
    ViewData["Shared"] = "/css/shared.css";
}

<h1>
    An error occurred with your request.
</h1>
