@page
@model LogoutModel
@{
    ViewData["Title"] = "Sign Out";
    ViewData["CSSLink"] = "/css/shared.css";
    ViewData["Shared"] = "/css/shared.css";
}

<form id="account" method="post" class="log-in-form">

    <h1>Sign Out</h1>
    <p>Are you sure you want to sign out?</p>
    <hr/>
    <div class="button-container">
        <input type="submit" class="secondary-button log-in-btn" value="Sign Out"/>
    </div>


</form>