.smooth-transition, .link, .reported-post .btn-container .delete-post, .reported-post .btn-container .un-hide-post, .reported-post .btn-container .post-link, .clickable-card, .button, .ban-details-container .ban-form .cancel-btn, .ban-details-container .ban-form .ban-btn, .ban-details-container .ban-form .confirm-ban-btn, .current-ban-ticket .lift-ban-btn, .secondary-button, .primary-button {
  transition: 180ms ease-in;
}
.smooth-transition:hover, .link:hover, .reported-post .btn-container .delete-post:hover, .reported-post .btn-container .un-hide-post:hover, .reported-post .btn-container .post-link:hover, .clickable-card:hover, .button:hover, .ban-details-container .ban-form .cancel-btn:hover, .ban-details-container .ban-form .ban-btn:hover, .ban-details-container .ban-form .confirm-ban-btn:hover, .current-ban-ticket .lift-ban-btn:hover, .secondary-button:hover, .primary-button:hover {
  transition: 180ms ease-in;
}

.button, .ban-details-container .ban-form .cancel-btn, .ban-details-container .ban-form .ban-btn, .ban-details-container .ban-form .confirm-ban-btn, .current-ban-ticket .lift-ban-btn, .secondary-button, .primary-button {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.button:hover, .ban-details-container .ban-form .cancel-btn:hover, .ban-details-container .ban-form .ban-btn:hover, .ban-details-container .ban-form .confirm-ban-btn:hover, .current-ban-ticket .lift-ban-btn:hover, .secondary-button:hover, .primary-button:hover {
  cursor: pointer;
}

.primary-button {
  border: none;
  background-color: rgb(99, 0, 148);
  text-decoration: none;
  color: white;
}
.primary-button:hover {
  filter: brightness(0.8);
}

.secondary-button {
  color: rgb(99, 0, 148);
  background-color: white;
  border: 1px solid rgb(99, 0, 148);
}
.secondary-button:hover {
  background-color: rgb(99, 0, 148);
  color: white;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.clickable-card {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.clickable-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.link, .reported-post .btn-container .delete-post, .reported-post .btn-container .un-hide-post, .reported-post .btn-container .post-link {
  margin: 0.1rem;
  text-decoration: none;
}
.link:hover, .reported-post .btn-container .delete-post:hover, .reported-post .btn-container .un-hide-post:hover, .reported-post .btn-container .post-link:hover {
  cursor: pointer;
}

h1 {
  width: 60%;
  margin: auto;
  font-size: 2rem;
}

.middle-aligned, .reported-post {
  display: flex;
  margin-block: 2rem;
  flex-direction: column;
  width: 50%;
  margin-inline: auto;
}
@media screen and (max-width: 1200px) {
  .middle-aligned, .reported-post {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .middle-aligned, .reported-post {
    width: 90%;
  }
}

.reported-post {
  background-color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.reported-post p {
  padding-block: 0;
  margin-block: 0.6rem;
}
.reported-post .btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.reported-post .btn-container .post-link {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  color: grey;
  border: none;
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0.3rem;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: inherit;
  margin: 0;
}
.reported-post .btn-container .post-link:hover {
  color: rgb(99, 0, 148);
}
.reported-post .btn-container .un-hide-post {
  color: grey;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.3rem;
  margin: 0;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
}
.reported-post .btn-container .un-hide-post:hover {
  color: green;
}
.reported-post .btn-container .delete-post {
  color: grey;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.3rem;
  background: none;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.reported-post .btn-container .delete-post:hover {
  color: red;
}

.profile-container, .reported-post, .ban-details-container {
  padding: 1rem;
  width: 50%;
  margin-inline: auto;
  border-radius: 3px;
  background-color: white;
}
@media screen and (max-width: 1200px) {
  .profile-container, .reported-post, .ban-details-container {
    width: 80%;
  }
}

.current-ban-ticket .lift-ban-btn {
  font-size: 0.8rem;
  color: white;
  margin-inline: 0.5rem;
  padding: 0.5rem;
  background-color: green;
  border: 1px solid green;
  width: 100%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  color: white;
}

.ban-details-container {
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}
.ban-details-container .ban-form {
  margin-top: 0.2rem;
}
.ban-details-container .ban-form h4 {
  font-size: 1.2rem;
}
.ban-details-container .ban-form input[type=date] {
  padding: 0.4rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
}
.ban-details-container .ban-form .ban-btn, .ban-details-container .ban-form .confirm-ban-btn {
  font-size: 0.8rem;
  background-color: rgb(112, 26, 26);
  border: 2px solid rgb(112, 26, 26);
  color: white;
  margin-inline: 0.5rem;
  padding: 0.5rem;
  min-width: 6rem;
}
.ban-details-container .ban-form .confirm-ban-btn {
  padding: 0.5rem;
  min-width: 6rem;
}
.ban-details-container .ban-form .cancel-btn {
  font-size: 0.8rem;
  background-color: green;
  border: 1px solid green;
  color: white;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  min-width: 6rem;
}/*# sourceMappingURL=admin-details.css.map */