@import "../base.scss";

h1 {
  width: 60%;
  margin: auto;
  font-size: 2rem;
}

.middle-aligned {
  display: flex;
  margin-block: 2rem;
  flex-direction: column;
  width: 50%;
  margin-inline: auto;
  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
  }

  @media screen and (max-width: $small-screen-width) {
    width: 90%;
  }
}

.reported-post {
  @extend .middle-aligned;
  background-color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

  p {
    padding-block: 0;
    margin-block: 0.6rem;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .post-link {
      @extend .link;
      font-family: Arial, Helvetica, sans-serif;
      display: inline-block;
      color: grey;
      border: none;
      font-weight: 700;
      font-size: 0.7rem;
      padding: 0.3rem;
      background: none;
      appearance: none;
      line-height: inherit;
      margin: 0;

      &:hover {
        color: $primary-purple
      }
    }

    .un-hide-post {
      @extend .link;
      color: grey;
      border: none;
      font-weight: 600;
      font-size: 0.7rem;
      padding: 0.3rem;
      margin: 0;
      background: none;font-family: Arial, Helvetica, sans-serif;

      &:hover {
        color: green
      }
    }

    .delete-post {
      @extend .link;
      color: grey;
      border: none;
      font-weight: 600;
      font-size: 0.7rem;
      padding: 0.3rem;
      background: none;
      margin: 0;font-family: Arial, Helvetica, sans-serif;

      &:hover {
        color: red
      }
    }

  }
}

.profile-container, .reported-post, .ban-details-container {
  padding: 1rem;
  width: 50%;
  margin-inline: auto;
  border-radius: 3px;
  background-color: white;

  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
  }
}

.current-ban-ticket {
  .lift-ban-btn {
    @extend .button;
    font-size: 0.8rem;
    color: white;
    margin-inline: 0.5rem;
    padding: 0.5rem;
    background-color: green;
    border: 1px solid green;
    width: 100%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    color: white;
  }
}

.ban-details-container {
  margin-bottom: 1rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  .ban-form {
    margin-top: 0.2rem;

    h4 {
      font-size: 1.2rem;
    }

    input[type="date"] {
      padding: 0.4rem;
      font-size: 1rem;
      margin: 0.5rem 0.5rem 0 0;
    }

    .ban-btn {
      @extend .button;
      font-size: 0.8rem;
      background-color: rgb(112, 26, 26);
      border: 2px solid rgb(112, 26, 26);
      color: white;
      margin-inline: 0.5rem;
      padding: 0.5rem;
      min-width: 6rem
    }

    .confirm-ban-btn {
      @extend .ban-btn;
      padding: 0.5rem;
      min-width: 6rem
    }

    .cancel-btn {
      @extend .button;
      font-size: 0.8rem;
      background-color: green;
      border: 1px solid green;
      color: white;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
      padding: 0.5rem;
      min-width: 6rem
    }
  }
}
