:root{
    font-size: 20px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin-top: 5rem;
}

.user-card {
    background-color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    width: 50%;
}


.button {
    color: white;
    border-radius: 1px;
    font-weight: 700;
    height: 100%;
    border-radius: 5px;
    border: none;
    width: 10rem;
}

.button:hover {
    filter: brightness(0.6);
    cursor: pointer;
}

.assign-role {
    background-color: green;
}

.remove-role {
    background-color: red;
}


.details-btn {
    padding: 1rem;
}

.user-container form {
    margin-left: auto;
}