@inherits RichComponentBase
@attribute [StreamRendering(true)]

@if (HiddenComments.Count == 0)
{
    <h2 class="middle-aligned">Reported Comments</h2>
    <div class="middle-aligned">
        <p>None</p>
    </div>
}
else
{
    <h2 class="middle-aligned">Reported Comments (@HiddenComments.Count)</h2>
    <section class="hidden-thread-container">
        @{
            foreach (var comment in HiddenComments)
            {
                <div class="suspended-comment">
                    <h5>Original content</h5>
                    <p>@comment.Content</p>
                    <form method="post" @onsubmit="(async () => await UnhideCommentAsync(comment.Id))">
                        <button class="un-hide-post">Unhide comment</button>
                    </form>

                    <form method="post" @onsubmit="(async () => await ForciblyDeleteCommentAsync(comment.Id))">
                        <button class="delete-post">Delete comment</button>
                    </form>
                    <hr>
                </div>
            }
        }
    </section>
}
