$primary-purple: rgb(99, 0, 148);

.info-text {
    font-size: 0.7rem;
    
    &:hover {
        cursor: pointer;
        transition: 100ms ease-out;
    }
}

.smooth-transition {
    transition: 160ms ease-in
}

.content-info {
    margin-bottom: 0;
    overflow: hidden;
}

.search-form {
    margin: auto;
    width: 50%;

    input[type="submit"] {
        border: none;
        border-radius: 5px;
        padding: 0.7rem;
        font-size: 1rem;
        background: $primary-purple;
        color: white;
        box-shadow: 0 2px 6px rgba(0,0,0,0.25);
        @extend .smooth-transition;

        &:hover{
            @extend .smooth-transition;
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

    input[type="text"] {
        padding: 0.6rem;
        font-size: 1rem;
        border-radius: 2px;
        border: 1px solid $primary-purple;
        width: 80%;
    }
}

.blog-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 28rem));
    align-items: center;
    justify-items: center;
    justify-content: center;

    .blog {
        box-shadow: 0 3px 10px rgba(0,0,0,0.25);
        padding: 1rem;
        margin: 0.5rem;
        width: 25rem;
        height: 10rem;
        display: flex;
        border-radius: 10px;
        background: white;
        text-decoration: none;
        color: black;
        @extend .smooth-transition;

        &:hover {
            box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
            @extend .smooth-transition;
        }

        img {
            width: 40%;
            border-radius: 10px;
            object-fit: cover;
        }
        
        .blog-info {
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            width: 60%;
            margin-left: 1rem;

            .info {
                @extend .info-text;
                font-weight: 600;
                color: #2a2aa5;
            }

            .title {
                @extend .content-info;
                font-family: Garamond, serif;
                height: 30%;
                font-weight: 800;
                font-size: 1.1rem;
            }

            .description {
                font-family: "Open Sans",Helvetica,arial,sans-serif;
                @extend .content-info;
                font-size: 0.7rem;
                color: #606060;
            }

            .blog-link {
                @extend .info-text;
                // text-decoration: none;
                transition: 100ms ease-in;
                color: $primary-purple;
            }
        }
    }
}

.today {
    margin-inline: 10rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Times New Roman', serif;
}


