.info-text, .blog-container .blog .blog-info .info, .blog-container .blog .blog-info .blog-link {
  font-size: 0.7rem;
}

.info-text:hover, .blog-container .blog .blog-info .info:hover, .blog-container .blog .blog-info .blog-link:hover {
  cursor: pointer;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.smooth-transition, .search-form input[type="submit"], .search-form input[type="submit"]:hover, .blog-container .blog, .blog-container .blog:hover {
  -webkit-transition: 160ms ease-in;
  transition: 160ms ease-in;
}

.content-info, .blog-container .blog .blog-info .title, .blog-container .blog .blog-info .description {
  margin-bottom: 0;
  overflow: hidden;
}

.search-form {
  margin: auto;
  width: 50%;
}

.search-form input[type="submit"] {
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 1rem;
  background: #630094;
  color: white;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.search-form input[type="submit"]:hover {
  cursor: pointer;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.search-form input[type="text"] {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid #630094;
  width: 80%;
}

.blog-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 34rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 34rem));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-container .blog {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 0.5rem;
  width: 30rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background: white;
  text-decoration: none;
  color: black;
}

.blog-container .blog:hover {
  -webkit-box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
}

.blog-container .blog img {
  width: 40%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-container .blog .blog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-left: 1rem;
}

.blog-container .blog .blog-info .info {
  font-weight: 600;
  color: #2a2aa5;
}

.blog-container .blog .blog-info .title {
  font-family: Garamond, serif;
  height: 30%;
  font-weight: 800;
  font-size: 1.1rem;
}

.blog-container .blog .blog-info .description {
  font-family: "Open Sans",Helvetica,arial,sans-serif;
  font-size: 0.7rem;
  color: #606060;
}

.blog-container .blog .blog-info .blog-link {
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
  color: #630094;
}

.today {
  margin-inline: 10rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Times New Roman', serif;
}
/*# sourceMappingURL=index.css.map */