$primary-purple: rgb(99, 0, 148);

.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog {
        padding: 0.6rem;
        width: 50%;

        .title {
            font-weight: 700;
            font-size: 2rem;
            text-align: center;
            font-family: Garamond, serif;
            font-size: 3rem;
            margin-top: 0.1rem;
        }

        .blog-description {
            font-family: "Open Sans",Helvetica,arial,sans-serif;
            line-height: 1.4rem;
            white-space: pre-line;
            color: #606060;;
        }

        img {
            border-radius: 10px;
            object-fit: cover;
            width: 100%;
            max-height: 25rem;
        }

        .blog-content {
            font-family: "Open Sans",Helvetica,arial,sans-serif;
            line-height: 1.6rem;
            white-space: pre-line;
            font-size: 1.2rem;
        }
    }
}

.blog-info-container {
    display: flex;
    justify-content: center;

    .blog-info {
        margin-left: 0.1rem;
    }
}

.blog-author {
    @extend .blog-info;
    color: green;
    font-weight: bold;
}




.comment-container {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    margin: auto;
    width: 40%;
    border-radius: 3px;

    .comment {
        padding: 1rem;
        background-color: white;
        border-radius: 5px;
        margin: 0.3rem;
        font-size: 0.8rem;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);

        .comment-author {
            color: $primary-purple;
        }

        p {
            margin-top: 0.8rem;
            font-size: 1rem;
        }
    }  
}

.add-comment-button-container {
    display: flex;
    justify-content: center;
    margin: 0.2rem;
    

    .comment-button {
        background-color: $primary-purple;
        color: white;
        border: 1px solid $primary-purple;
        border-radius: 6px;
        padding: 0.7rem;
        width: 7rem;
    
        &:hover {
            cursor: pointer;
        }
    }
}

.author-info {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 1rem;
    margin-inline: auto;
    margin-block: 2rem;
    width: 40%;

    .profile-header {
        display: flex;
        align-items: center;

        span {
            margin-left: 1rem;
            font-weight: 600;
        }

        img {
            height: 3rem;
            width: 3rem;
            border-radius: 100%;
        }
    }



    
}

.comment-option-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text-input-field{
    border-radius: 6px;
    border: 2px solid lightgray;
    padding: 0.5rem;
}

.comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;

    textarea {
        @extend .text-input-field;
        font-size: 0.8rem;
        width: 20rem;
        height: 50px;
    }
}

.edit-comment-form {
    textarea {
        @extend .text-input-field;
        width: 100%;
        box-sizing: border-box;
    }
}

.submit-comment {
    @extend .link;
    @extend .primary-btn;
    width: fit-content;
    margin: 0.2rem;
    font-size: 0.8rem;
}

.save-btn {
    @extend .link;
    @extend .primary-btn;
    font-size: 0.6rem;
}

.primary-btn {
    color: white;
    border: 1px solid $primary-purple;
    background-color: $primary-purple;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.3rem;

    &:hover{
        filter: brightness(0.8);
    }
}

.link {
    transition: 200ms ease-out;
    margin: 0.1rem;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        transition: 200ms ease-in;
    }
}

.delete-post, .edit-post, .delete-comment, .edit-comment {
    @extend .link;
    color: grey;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.3rem;
    
    &:hover {
        cursor: pointer;
        transition: 200ms ease-in;
    }

}

.delete-post, .delete-comment {
    &:hover {
        color: red;
    }
}

.edit-post, .edit-comment {
    &:hover {
        color: $primary-purple;
    }
}