<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@ViewData["CSSLink"]" rel="stylesheet">
    <link href="@ViewData["Shared"]" rel="stylesheet">
    <base href="~/" />
</head>
<body>
    <partial name="_NavBarPartial"/>
    @RenderBody()
    </body>

<script src="~/_framework/blazor.server.js"></script>
</html>
