@page
@model EditModel

@{
    ViewData["Title"] = "Edit Thread";
    ViewData["CSSLink"] = "/css/threads/create-thread.css";
    ViewData["Shared"] = "/css/shared.css";
}

<form class="add-form" method="post" asp-page-handler="EditThread" enctype="multipart/form-data">
    <div class="form-inputs">
        <label asp-for="EditThreadViewModel.Title">Title</label>
        <input type="text" name="EditThreadViewModel.Title" required value="@Model.EditThreadViewModel.Title">
        <span asp-validation-for="EditThreadViewModel.Title" class="error-message"></span>

        <label asp-for="EditThreadViewModel.Introduction">Description</label>
        <textarea rows="8" cols="50"
                  name="EditThreadViewModel.Introduction"
                required>@Model.EditThreadViewModel.Introduction</textarea>
        <span asp-validation-for="EditThreadViewModel.Introduction" class="error-message"></span>

        <label asp-for="EditThreadViewModel.CoverImage"></label>
        <input type="file" asp-for="EditThreadViewModel.CoverImage" accept=".png,.jpg,.jpeg" multiple>
        <span asp-validation-for="EditThreadViewModel.CoverImage" class="error-message"></span>

    </div>
    <br>

    <textarea rows="18" cols="50"
              name="EditThreadViewModel.Body"
            required>@Model.EditThreadViewModel.Body</textarea>
    <span asp-validation-for="EditThreadViewModel.Body" class="error-message"></span>
    <input type="hidden" value="@Model.EditThreadViewModel.Id" asp-for="EditThreadViewModel.Id"/>
    <input type="submit" value="Save Changes" class="submit-post"/>
</form>
