@page
@model BlogApp.Pages.User.EditModel
@{
    ViewData["Title"] = "Edit Profile";
    ViewData["CSSLink"] = "/css/user/edituser.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";

}

<main>
    <form class="edit-form" method="post" asp-page-handler="EditBlog" enctype="multipart/form-data">
        <div>
            <label asp-for="EditUserVM.Country"><strong>Country</strong></label>
            <input type="text" 
            name="EditUser.Country"
            asp-for="EditUserVM.Country" 
            required 
            value="@Model.EditUserVM.Country">

            <label asp-for="EditUserVM.Description"><strong>Description</strong></label>
            <textarea rows="8" cols="50"
                    name="EditUser.Description"
                    asp-for="EditUserVM.Description"
                    required>@Model.EditUserVM.Description</textarea>

            <label asp-for="EditUserVM.NewProfilePicture"><strong>Profile picture</strong></label>
            <input type="file" asp-for="EditUserVM.NewProfilePicture" accept=".png,.jpg,.jpeg" multiple>
        </div>
        <br>
        <input type="hidden" value="@Model.EditUserVM.UserName" asp-for="EditUserVM.UserName"/>
        <input type="submit" value="Save changes" class="submit-changes" />
    </form>
</main>
