@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["CSSLink"] = "/css/shared.css";
    ViewData["Shared"] = "/css/shared.css";
}


<form id="account" method="post" class="log-in-form">

    <h1>Log in</h1>
    <hr />
    <div asp-validation-summary="All"></div>
    <label asp-for="Input.UserName"></label>
    <input asp-for="Input.UserName" class="text-input" />
    <span asp-validation-for="Input.UserName"></span>
    <br>
    <label asp-for="Input.Password"></label>
    <input asp-for="Input.Password" class="text-input" />
    <span asp-validation-for="Input.Password" class="text-danger"></span>


    <div>
        <label asp-for="Input.RememberMe">
            <input asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
    </div>

    <hr />
    <button type="submit" class="log-in-btn">Log in</button>
    <p>
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
    </p>

</form>
