@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    ViewData["CSSLink"] = "/css/shared.css";
    ViewData["Shared"] = "/css/shared.css";
}

<form id="account" method="post" class="log-in-form">

    <h1>Log Out</h1>
    <p>Are you sure you want to log out?</p>
    <hr />
    <div class="button-container">
        <input type="submit" class="secondary-button log-in-btn" value="Log Out"/>
    </div>


</form>