@page
@model             ErrorModel

@{
    ViewData["Title"] = "Bad Request";
    ViewData["CSSLink"] = "/css/error/error.css";
    ViewData["Shared"] = "/css/shared.css";
}

<h1>
    @Model.ErrorMessage
</h1>
<p>
    @Model.ErrorDescription
</p>