:root{
    font-size: 20px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.user-card {
    background-color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    width: 70%;
}

.user-card >:last-child{
    margin-left: auto;
}

.button {
    color: white;
    border-radius: 1px;
    font-weight: 700;
    height: 100%;
}

.button:hover {
    filter: brightness(0.6);
    cursor: pointer;
}

.assign-role {
    background-color: green;
    border: 1px solid green;
}

.remove-role {
    background-color: red;
    border: 1px solid red;
}



.details-btn {
    background-color: antiquewhite;
    border: 1px solid antiquewhite;
    text-decoration: none;
    font-weight: 650;
    border-radius: 1px;
}