:root{
    font-size: 20px;
}

.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blog{
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 65%;

}

.title {
    font-weight: 700;
    font-size: 1.6rem;
}

.author {
    color: blue;
    margin-right: 0.5rem;
}

.blog-button-container {
    display: flex;
    justify-content: center;
}

.blog-button {
    background-color: blue;
    color: white;
    border: 2px solid rgb(84, 84, 255);
    border-radius: 8px;
    padding: 0.3rem;
    width: 60%;
    text-decoration: none;
    text-align: center;
}

.blog-button:hover {
    cursor: pointer;
}

.add-button{
    background-color: white;
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 1rem;
    margin: 0.2rem;
}

input[type="text"], textarea {
    padding: 0.2rem;
    font-size: 1.1rem;
}

.submit-post {
    background-color: green;
    color:white;
    padding:0.2rem;
    font-size: 0.7rem;
    border: 1px solid green;
    border-radius: 3px;
    height: 2rem;
    width: fit-content;
}

.submit-post:hover{
    cursor: pointer;
    filter: brightness(0.6);
}