$primary-purple: rgb(99, 0, 148);

.info-text {
    text-align: right;
    margin: 0;
    font-size: 0.7rem;
    
    &:hover {
        cursor: pointer;
        transition: 100ms ease-out;
    }
}

body {
    background-color: #effcff54;
}

.blog-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 28rem));
    align-items: center;
    justify-items: center;
    justify-content: center;

    .blog {
        box-shadow: 0 0 1px 0.4px black;
        padding: 0.5rem;
        width: 25rem;
        display: flex;
        border-radius: 5px;
        height: 10rem;
        margin: 0.5rem;
        border-radius: 15px;
        background: white;

        img {
            width: 40%;
            border-radius: 15px;
            height: 100%;
        }
        
        .blog-info {
            display: flex;
            flex-direction: column;
            width: 60%;

            p:not(.title) {
                font-style: italic;
                @extend .info-text;
                color: grey;
                margin: 0.1rem;
            }

            .title {
                font-family: Garamond, serif;
                height: 30%;
                overflow: hidden;
                font-weight: 700;
                font-size: 1.1rem;
                padding: 0.8rem;
                text-align: center;
                overflow: hidden;
            }

            .additional-info {
                margin-top: auto;
                margin-left: auto
            }

            .blog-link {
                @extend .info-text;
                // text-decoration: none;
                transition: 100ms ease-in;
                color: $primary-purple;
                font-weight: 800;
            }
        }
    }
}

main {
    margin-top: 4rem;
}

// .add-button-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0.6rem;
//     margin-top: 4rem;

//     .add-button {
//         background-color: $primary-purple;
//         color: white;
//         padding: 0.3rem;
//         text-decoration: none;
//         text-align: center;
//         width: 50%;
//         border-radius: 5px;
//         transition: 100ms ease-in;
    
//         &:hover {
//             transition: 100ms ease-in;
//             box-shadow: 0 0 3px 1px #a5a5ff;
//         }
//     }
// }


