$primary-purple: rgb(99, 0, 148);

.info-text {
    text-align: right;
    margin: 0;
    font-size: 0.7rem;
    
    &:hover {
        cursor: pointer;
        transition: 100ms ease-out;
    }
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,20rem));
    align-items: center;
    justify-items: center;
    justify-content: center;

    .blog {
        box-shadow: 0 0 3px 1.2px #dadada;
        padding: 0.5rem;
        width: 16rem;
        border-left: 7px solid $primary-purple;
        border-radius: 5px;
        height: 10rem;

        .title {
            font-family: Garamond, serif;
            height: 30%;
            overflow: hidden;
            font-weight: 700;
            font-size: 1.1rem;
        }
        
        .blog-info {
            display: flex;
            flex-direction: column;

            p {
                font-style: italic;
                @extend .info-text;
                color: grey;
                margin: 0.1rem;
            }
        
            .blog-link {
                @extend .info-text;
                // text-decoration: none;
                transition: 100ms ease-in;
                color: $primary-purple;
                font-weight: 800;
            }
        }
    }
}

.add-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6rem;
    margin-top: 4rem;

    .add-button {
        background-color: $primary-purple;
        color: white;
        padding: 0.3rem;
        text-decoration: none;
        text-align: center;
        width: 50%;
        border-radius: 5px;
        transition: 100ms ease-in;
    
        &:hover {
            transition: 100ms ease-in;
            box-shadow: 0 0 3px 1px #a5a5ff;
        }
    }
}


