.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.blog-container .blog {
  padding: 0.6rem;
  width: 50%;
}

.blog-container .blog .blog-description {
  font-family: "Open Sans",Helvetica,arial,sans-serif;
  line-height: 1.4rem;
  white-space: pre-line;
  color: #606060;
}

.blog-container .blog img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.blog-container .blog .blog-content {
  font-family: "Open Sans",Helvetica,arial,sans-serif;
  line-height: 1.6rem;
  white-space: pre-line;
}

.blog-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-info-container .blog-info, .blog-info-container .blog-author {
  font-size: 0.7rem;
  margin-left: 0.1rem;
}

.blog-author {
  color: green;
  font-weight: bold;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  font-family: Garamond, serif;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.1rem;
  margin: auto;
  width: 40%;
  border-radius: 3px;
}

.comment-container .comment {
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  margin: 0.3rem;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.comment-container .comment .comment-author {
  color: #630094;
}

.comment-container .comment p {
  margin-top: 0.8rem;
}

.add-comment-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.2rem;
}

.add-comment-button-container .comment-button {
  background-color: #630094;
  color: white;
  border: 1px solid #630094;
  border-radius: 6px;
  padding: 0.7rem;
  width: 7rem;
}

.add-comment-button-container .comment-button:hover {
  cursor: pointer;
}

.comment-option-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text-input-field, .comment-form textarea, .edit-comment-form textarea {
  border-radius: 6px;
  border: 2px solid lightgray;
  padding: 0.5rem;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.2rem;
}

.comment-form textarea {
  font-size: 0.8rem;
  width: 20rem;
  height: 50px;
}

.edit-comment-form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.submit-comment {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.2rem;
  font-size: 0.8rem;
}

.save-btn {
  font-size: 0.6rem;
}

.primary-btn, .submit-comment, .save-btn {
  color: white;
  border: 1px solid #630094;
  background-color: #630094;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.3rem;
}

.primary-btn:hover, .submit-comment:hover, .save-btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.link, .submit-comment, .save-btn, .delete-post, .edit-post, .delete-comment, .edit-comment {
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  margin: 0.1rem;
  text-decoration: none;
}

.link:hover, .submit-comment:hover, .save-btn:hover, .delete-post:hover, .edit-post:hover, .delete-comment:hover, .edit-comment:hover {
  cursor: pointer;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.delete-post, .edit-post, .delete-comment, .edit-comment {
  color: grey;
  border: none;
  background: white;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.3rem;
}

.delete-post:hover, .edit-post:hover, .delete-comment:hover, .edit-comment:hover {
  cursor: pointer;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.delete-post:hover, .delete-comment:hover {
  color: red;
}

.edit-post:hover, .edit-comment:hover {
  color: #630094;
}
/*# sourceMappingURL=readblog.css.map */