:root {
    font-size: 20px;
}

$primary-purple: rgb(99, 0, 148);

.log-in-form {
    background-color: white;
    border: 2.5px solid $primary-purple;
    width: 35%;
    margin: auto;
    padding: 1rem;
    border-radius: 3px;
}

.text-input {
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.2rem;
    border: 2px solid black;
    border-radius: 4px;
}

.nav-btn {
    background-color: white;
    border: 2px solid white;
    padding: 0.2rem;
    transition: 200ms ease-out;
    text-decoration: none;
    color: $primary-purple;
    height: fit-content;
    font-size: 0.8rem;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: $primary-purple;
        border: 2px solid $primary-purple;
        transition: 200ms ease-in;
    }
}

.hidden-element {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.suspended-post {
    color:red;
}

p {
    word-break: break-word;
}

.log-in-btn {
    background-color: white;
    color: $primary-purple;
    padding: 0.3rem;
    border: 1px solid white;
    border-radius: 3px;
}

.log-in-btn:hover {
    cursor: pointer;
    background-color: $primary-purple;
    border: 1px solid $primary-purple;
    color: white;
}