@page
@model BlogApp.Pages.Blogs.CreateModel
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager


@{
    ViewData["Title"] = "Create Blog";
    ViewData["CSSLink"] = "/css/createblog.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";

}

<form class="add-form" method="post">
    <div>
        <label asp-for="CreateBlog.Title"><strong>Title</strong></label>
        <input asp-for="CreateBlog.Title" type="text">
    </div>
    <br>
    <textarea rows="18" cols="50" 
        asp-for="CreateBlog.Content" 
        required
        placeholder="What do you want to share?" type="text"></textarea><br>
    <input type="submit" value="Post" class="submit-post" />
</form> 
