@page
@model BlogApp.Pages.Blogs.EditModel

@{
    ViewData["Title"] = "Edit Blog";
    ViewData["CSSLink"] = "/css/blogs/createblog.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
}

<form class="add-form" method="post" asp-page-handler="EditBlog" enctype="multipart/form-data">
    <div>
        <label asp-for="EditBlog.Title">Title</label>
        <input type="text" name="EditBlog.Title" required value="@Model.EditBlog.Title">
        <span asp-validation-for="EditBlog.Title" class="error-message"></span>

        <label asp-for="EditBlog.Description">Description</label>
        <textarea rows="8" cols="50"
                name="EditBlog.Description"
                required>@Model.EditBlog.Description</textarea>
        <span asp-validation-for="EditBlog.Description" class="error-message"></span>

        <label asp-for="EditBlog.CoverImage"></label>
        <input type="file" asp-for="EditBlog.CoverImage" accept=".png,.jpg,.jpeg" multiple>
        <span asp-validation-for="EditBlog.CoverImage" class="error-message"></span>
        
    </div>
    <br>
    <textarea rows="18" cols="50"
            name="EditBlog.Content"
            required>@Model.EditBlog.Content</textarea>
    <span asp-validation-for="EditBlog.Content" class="error-message"></span>
    <input type="hidden" value="@Model.EditBlog.ID" asp-for="EditBlog.ID" />
    <input type="submit" value="Save changes" class="submit-post" />
</form>
