@page
@model BlogApp.Pages.Blogs.EditModel

@{
    ViewData["Title"] = "Edit Blog";
    ViewData["CSSLink"] = "/css/blogs/createblog.css";
    ViewData["Shared"] = "/css/shared.css";
    ViewData["Script"] = "#";
}

<form class="add-form" method="post" asp-page-handler="EditBlog" enctype="multipart/form-data">
    <div>
        <label asp-for="EditBlog.Title">Title</label>
        <input type="text" name="EditBlog.Title" required value="@Model.EditBlog.Title">

        <label asp-for="EditBlog.Description">Description</label>
        <textarea rows="8" cols="50"
                name="EditBlog.Description"
                required><@Model.EditBlog.Description</textarea>

        @* <label asp-for="EditBlog.ImagePath"><strong>Image path</strong></label>
        <input type="text" name="EditBlog.ImagePath" required value="@Model.EditBlog.ImagePath"> *@

        <label asp-for="EditBlog.CoverImage"></label>
        <input type="file" asp-for="EditBlog.CoverImage" accept=".png,.jpg,.jpeg" multiple>
    </div>
    <br>
    <textarea rows="18" cols="50"
            name="EditBlog.Content"
            required>@Model.EditBlog.Content</textarea>
    <br>
    <input type="hidden" value="@Model.EditBlog.ID" asp-for="EditBlog.ID" />
    <input type="submit" value="Save changes" class="submit-post" />
</form>
