@page
@using RazorBlog.Web.Components;
    using RazorBlog.Web.Pages.Admin;
    using RazorBlog.Web.Components
@model DetailsModel

@{
    ViewData["Title"] = "User Details";
    ViewData["CSSLink"] = "/css/admin/admindetails.css";
    ViewData["Shared"] = "/css/shared.css";
}

<h1>Details of @Model.UserName</h1>
<main>
    <component type="typeof(HiddenBlogContainer)"
                render-mode="Server"
                param-UserName="@Model.UserName" />

    <component type="typeof(HiddenCommentContainer)"
                render-mode="Server"
                param-UserName="@Model.UserName" />
</main>

<h2 class="middle-aligned">Ban Ticket</h2>
<section class="ban-details-container">

    <component type="typeof(BanUserForm)"
               render-mode="Server"
               param-InspectedUserName="@Model.UserName" />
 
</section>

@section Scripts {
    <script>
        const banBtn = document.querySelector(".ban-btn");
        const cancelBtn = document.querySelector(".cancel-btn");
        const confirmBanBtn = document.querySelector(".confirm-ban-btn")
        const form = document.querySelector(".suspend-form")

        form.addEventListener("click", event => {
            if (event.target &&
            event.target.className === 'ban-btn' ||
            event.target.className === 'cancel-btn') {
                banBtn.classList.toggle('hidden-element')
                cancelBtn.classList.toggle('hidden-element')
                confirmBanBtn.classList.toggle('hidden-element')
            }
        })
    </script>
}
