@import "../base.scss";

a {
  @extend .smooth-transition;
}

.page-title {
  font-weight: 700;
  font-size: 3rem;
  margin-left: 20%;
  margin-bottom: 1rem;

  @media screen and (max-width: $medium-screen-width) {
    font-size: 2.8rem;
    margin-left: 15%;
  }

  @media screen and (max-width: $small-screen-width) {
    font-size: 2.5rem;
    margin-left: 10%;
  }
}

.loading-text {
  width: fit-content;
  margin: auto;
  color: gray;
}

main {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;

  @media screen and (max-width: $medium-screen-width) {
    width: 80%;
  }

  @media screen and (max-width: $small-screen-width) {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .edit-button {
    @extend .link;
    margin-left: auto;
    color: grey;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .basic-info {
    @extend .card;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .edit-profile-picture-btn {
      @extend .edit-button;
    }

    .profile-btn-container {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      button {
        padding: 0.6rem;
      }

      .cancel-btn {
        @extend .edit-button;
      }

      .remove-picture-btn {
        @extend .primary-button;
      }

      .change-picture-btn {
        @extend .primary-button;
      }
    }

    .profile-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: $small-screen-width) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      img {
        object-fit: cover;
        justify-self: center;
        align-self: center;
        border-radius: 10px;
        width: 40%;

        @media screen and (max-width: $small-screen-width) {
          width: 5rem;
          height: 5rem;
        }
      }

      .info {
        justify-self: center;
        padding: 1rem;

        p {
          margin-block: 1rem;
        }
      }
    }
  }

  .description {
    @extend .card;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    padding: 1.2rem;

    .heading {
      display: flex;

      .edit-summary {
        @extend .edit-button;
      }
    }

    .edit-summary-form {
      width: 100%;
      margin: auto;
      textarea {
        resize: none;
        width: 100%;
        box-sizing: border-box;
        padding: 0.4rem;
        margin-top: 1rem;
        border-radius: 0.4rem;
        border: 2px solid lightgray;
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;

      .save-summary-btn {
        @extend .primary-button;
        padding: 0.5rem;
      }

      .cancel-summary-btn {
        @extend .secondary-button;
        padding: 0.5rem;
      }
    }

    .length-counter {
      margin-left: auto;
      width: fit-content;
      color: gray;
    }
  }

  .card-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }

  .stats {
    @extend .card;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 1.2rem;
    grid-column: 2;

    ul {
      padding-left: 1.2rem;

      li {
        margin-block: 0.5rem;
      }
    }
  }
}

.thread-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  @media screen and (max-width: $medium-screen-width) {
    width: 70%;
  }

  @media screen and (max-width: $small-screen-width) {
    width: 80%;
  }

  h1 {
    padding-left: 1rem;
  }

  .thread-year {
    border-bottom: 1px solid black;
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .thread {
    @extend .clickable-card;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;

    .title {
      font-weight: 700;
    }
  }

  p {
    overflow: hidden;
    max-height: 3.5rem;
  }
}
