.smooth-transition, a, .link, main .edit-button, main .description .heading .edit-summary, main .basic-info .profile-btn-container .cancel-btn, main .basic-info .edit-profile-picture-btn, .clickable-card, .thread-container .thread, .button, .secondary-button, main .description .button-container .cancel-summary-btn, main .basic-info .info .change-password, .primary-button, main .description .button-container .save-summary-btn, main .basic-info .info .edit-profile, main .basic-info .profile-btn-container .change-picture-btn, main .basic-info .profile-btn-container .remove-picture-btn {
  transition: 180ms ease-in;
}
.smooth-transition:hover, a:hover, .link:hover, main .edit-button:hover, main .description .heading .edit-summary:hover, main .basic-info .profile-btn-container .cancel-btn:hover, main .basic-info .edit-profile-picture-btn:hover, .clickable-card:hover, .thread-container .thread:hover, .button:hover, .secondary-button:hover, main .description .button-container .cancel-summary-btn:hover, main .basic-info .info .change-password:hover, .primary-button:hover, main .description .button-container .save-summary-btn:hover, main .basic-info .info .edit-profile:hover, main .basic-info .profile-btn-container .change-picture-btn:hover, main .basic-info .profile-btn-container .remove-picture-btn:hover {
  transition: 180ms ease-in;
}

.button, .secondary-button, main .description .button-container .cancel-summary-btn, main .basic-info .info .change-password, .primary-button, main .description .button-container .save-summary-btn, main .basic-info .info .edit-profile, main .basic-info .profile-btn-container .change-picture-btn, main .basic-info .profile-btn-container .remove-picture-btn {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.button:hover, .secondary-button:hover, main .description .button-container .cancel-summary-btn:hover, main .basic-info .info .change-password:hover, .primary-button:hover, main .description .button-container .save-summary-btn:hover, main .basic-info .info .edit-profile:hover, main .basic-info .profile-btn-container .change-picture-btn:hover, main .basic-info .profile-btn-container .remove-picture-btn:hover {
  cursor: pointer;
}

.primary-button, main .description .button-container .save-summary-btn, main .basic-info .info .edit-profile, main .basic-info .profile-btn-container .change-picture-btn, main .basic-info .profile-btn-container .remove-picture-btn {
  border: none;
  background-color: rgb(99, 0, 148);
  text-decoration: none;
  color: white;
}
.primary-button:hover, main .description .button-container .save-summary-btn:hover, main .basic-info .info .edit-profile:hover, main .basic-info .profile-btn-container .change-picture-btn:hover, main .basic-info .profile-btn-container .remove-picture-btn:hover {
  filter: brightness(0.8);
}

.secondary-button, main .description .button-container .cancel-summary-btn, main .basic-info .info .change-password {
  color: rgb(99, 0, 148);
  background-color: white;
  border: 1px solid rgb(99, 0, 148);
}
.secondary-button:hover, main .description .button-container .cancel-summary-btn:hover, main .basic-info .info .change-password:hover {
  background-color: rgb(99, 0, 148);
  color: white;
}

.card, main .stats, main .description, main .basic-info {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.clickable-card, .thread-container .thread {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.clickable-card:hover, .thread-container .thread:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.link, main .edit-button, main .description .heading .edit-summary, main .basic-info .profile-btn-container .cancel-btn, main .basic-info .edit-profile-picture-btn {
  margin: 0.1rem;
  text-decoration: none;
}
.link:hover, main .edit-button:hover, main .description .heading .edit-summary:hover, main .basic-info .profile-btn-container .cancel-btn:hover, main .basic-info .edit-profile-picture-btn:hover {
  cursor: pointer;
}

.page-title {
  font-weight: 700;
  font-size: 3rem;
  margin-left: 20%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .page-title {
    font-size: 2.8rem;
    margin-left: 15%;
  }
}
@media screen and (max-width: 700px) {
  .page-title {
    font-size: 2.5rem;
    margin-left: 10%;
  }
}

main {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
}
@media screen and (max-width: 1200px) {
  main {
    width: 80%;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 700px) {
  main {
    width: 90%;
  }
}
main .edit-button, main .description .heading .edit-summary, main .basic-info .profile-btn-container .cancel-btn, main .basic-info .edit-profile-picture-btn {
  margin-left: auto;
  color: grey;
  border: none;
  background: white;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 0.3rem;
}
main .basic-info {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main .basic-info .profile-btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
main .basic-info .profile-btn-container button {
  padding: 0.6rem;
}
main .basic-info img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 12rem;
  height: 12rem;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
}
main .basic-info .info {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 1rem;
  margin-top: 0.5rem;
}
main .basic-info .info p {
  margin-block: 0;
  margin-left: 2.5rem;
}
main .basic-info .info a {
  padding: 0.8rem;
  margin: 0.3rem;
  margin-inline: auto;
  text-align: center;
  width: 50%;
  font-size: 0.7rem;
}
@media screen and (max-width: 1200px) {
  main .basic-info .info a {
    width: 70%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  main .basic-info .info a {
    width: 90%;
    font-size: 0.9rem;
  }
}
main .basic-info .info .edit-profile {
  margin-top: 3rem;
}
main .description {
  align-self: center;
  padding: 1.2rem;
  min-height: 15rem;
  max-height: 20rem;
  align-self: baseline;
}
main .description .heading {
  display: flex;
}
main .description .edit-summary-form {
  width: 100%;
  margin: auto;
}
main .description .edit-summary-form textarea {
  resize: none;
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  border: 2px solid lightgray;
}
main .description .button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}
main .description .button-container .save-summary-btn {
  padding: 0.5rem;
}
main .description .button-container .cancel-summary-btn {
  padding: 0.5rem;
}
main .description .length-counter {
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  color: gray;
}
main .card-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}
main .stats {
  align-self: center;
  padding: 1.2rem;
}

.thread-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1200px) {
  .thread-container {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .thread-container {
    width: 80%;
  }
}
.thread-container h1 {
  padding-left: 1rem;
}
.thread-container .thread-year {
  border-bottom: 1px solid black;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.thread-container .thread {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
}
.thread-container .thread .title {
  font-weight: 700;
}
.thread-container p {
  overflow: hidden;
  max-height: 3.5rem;
}/*# sourceMappingURL=user.css.map */