@page
@model EditModel
@{
    ViewData["Title"] = "Edit Profile";
    ViewData["CSSLink"] = "/css/user/edituser.css";
    ViewData["Shared"] = "/css/shared.css";
}
<p class="page-title">Update Profile</p>
<main>
    <form class="edit-form" method="post" enctype="multipart/form-data">
        <div>
            <label asp-for="EditUserViewModel.Description">
                <strong>Description</strong>
            </label>
            <textarea rows="8" cols="50"
                      name="EditUserViewModel.Description">@Model.EditUserViewModel.Description</textarea>
            <span asp-validation-for="EditUserViewModel.Description" class="error-message"></span>

            <label asp-for="EditUserViewModel.NewProfilePicture">
                <strong>New Profile Picture</strong>
            </label>
            <input type="file" asp-for="EditUserViewModel.NewProfilePicture" accept=".png,.jpg,.jpeg" multiple>
        </div>
        <br>
        <input type="hidden" value="@Model.EditUserViewModel.UserName" asp-for="EditUserViewModel.UserName"/>
        <input type="submit" value="Save changes" class="submit-changes"/>
    </form>
</main>
