@inherits RichComponentBase
@attribute [StreamRendering(true)]

<h2 class="middle-aligned">Reported blogs</h2>
@if (HiddenBlogs.Count == 0)
{
    <div class="middle-aligned">
        <p>None</p>
    </div>
}
else
{
    <section class="suspended-blog-container">
        @{
            foreach (var blog in HiddenBlogs)
            {
                <div class="suspended-blog">
                    <h2>@blog.Title</h2>

                    <h4>Introduction</h4>
                    <hr />
                    <p>@blog.Introduction</p>

                    <h4>Content</h4>
                    <hr />
                    <p>@blog.Content</p>

                    <form method="post" @onsubmit="(async () => await UnhideBlogAsync(blog.Id))">
                        <button class="un-hide-post">Unhide blog</button>
                    </form>
                    <form method="post" @onsubmit="(async () => await ForciblyDeleteBlogAsync(blog.Id))">
                        <button class="delete-post">Delete blog</button>
                    </form>
                </div>
            }
        }
    </section>
}

