@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign In";
    ViewData["CSSLink"] = "#";
    ViewData["Shared"] = "/css/shared.css";
}


<form enctype="multipart/form-data" method="post" class="log-in-form">
    <h2>Create a new account.</h2>
    <hr/>
    <div asp-validation-summary="All"></div>
    <label asp-for="CreateUserViewModel.UserName">Username</label>
    <input asp-for="CreateUserViewModel.UserName" class="text-input" autocomplete="off"/>
    <span asp-validation-for="CreateUserViewModel.UserName" class="error-message"></span>

    <label asp-for="CreateUserViewModel.Password">Password</label>
    <input asp-for="CreateUserViewModel.Password" class="text-input" autocomplete="off"/>
    <span asp-validation-for="CreateUserViewModel.Password" class="error-message"></span>

    <label asp-for="CreateUserViewModel.ConfirmPassword"></label>
    <input asp-for="CreateUserViewModel.ConfirmPassword" class="text-input"/>
    <span asp-validation-for="CreateUserViewModel.ConfirmPassword" class="error-message"></span>

    <label asp-for="CreateUserViewModel.ProfilePicture"></label>
    <input type="file" asp-for="CreateUserViewModel.ProfilePicture" accept=".png,.jpg,.jpeg" multiple>
    <span asp-validation-for="CreateUserViewModel.ProfilePicture" class="error-message"></span>

    <button type="submit" class="primary-button log-in-btn">Register</button>
</form>
